/*
BASICOS
*/

/*Alterando cor do meu body*/
body {
	background-color: #efefef;
}

/*Criando o quadrado de cor diferente no inicio do body*/
body::before {
	content: '';
	width: 100%;
	height: 436px;

	top: 0;
	left: 0;
	position: absolute;

	background-color: #535971;
	z-index: -1;
}

/*Definindo o tamanho da minha pagina*/
.page {
	width: 75rem;
	margin: auto;
}
/*
====================================================================================================================
HEADER
====================================================================================================================
*/

header {
	width: 41.7rem;
	margin-top: 14rem;
}

header h1 {
	color: #fff;
	font-family: 'Staatliches', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

header p {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 18px;
}

/*
====================================================================================================================
FORMULÃRIO
====================================================================================================================
*/

form {
	background-color: #ffffff;
	min-height: 1084px;
	border-radius: 20px 20px 0px 0px;

	margin-top: 58px;
	padding: 64px;

	display: flex;
	flex-direction: column;
	gap: 30px;
}

fieldset {
	border: none;
}

/*Deixando todos os elementos do meu fieldset um em baixo do outro*/
.fieldset-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

/*Alternado titulo do meu fieldset*/
fieldset legend {
	color: #535971;
	font-family: 'Staatliches', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;

	width: 100%;
	border-bottom: 1px solid #e6e6f0;
	padding-bottom: 16px;

	margin-bottom: 32px;
}

/*Mudando as sublegendas dentro do meu filedset*/
.sub_legend {
	color: #535971;
	font-family: 'Staatliches', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px; /* 170% */
}

/*Deixando todos os inputs flex*/
.input-wrapper {
	display: flex;
	flex-direction: column;
}

/*Modificando Label dos meus inputs*/
.input-wrapper label {
	color: #4e4958;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
	margin-bottom: 8px;
}

/*Modificando Span dos meus Inputs*/
.input-wrapper span {
	color: #c1bccc;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 166.667% */

	margin-left: 9px;
}

/*Modificando a caixinha do meu input*/
.input-wrapper input {
	border-radius: 8px;
	border: 1px solid var(--back-lines-in-white, #e6e6f0);
	background: var(--shapes-02, #fafafc);

	margin-bottom: 16px;
	height: 56px;
	padding: 10px;
}

/*Modificando o meu div col-2, que altera os campos nome e sobrenome, para deixar lado a lado*/
.col-2 {
	display: flex;
	gap: 22px;
}

/*Ajustando tamanho do meu input dentro da col-2*/
.col-2 input {
	width: 300px;
}

.col-3 {
	display: flex;
	gap: 10px;
}

.col-3 > :first-child {
	width: 100%;
}

.col-3 label {
	margin-top: 11px;
}

/*
====================================================================================================================
FOOTER + BOTAO
====================================================================================================================
*/

footer {
	border-radius: 0px 0px 20px 20px;
	background: #535971;
	height: 160px;

	padding: 50px 71px;
	margin-bottom: 100px;
}

footer .button {
	width: 608px;
	height: 55px;
	padding: 15px 40px;
	justify-content: center;
	align-items: center;

	border-radius: 20px;
	background: #ff5374;

	color: #fff;

	font-family: 'Staatliches', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; /* 130% */
}

footer .button:hover {
	background: #a82540;
}

input:invalid {
	border: 1px solid red;
}
